.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.9rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 0rem;
}

.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.info p {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
}

.info i {
  margin-right: 1.6rem;
}

.info i:last-child {
  margin-right: 0;
}

.redes a {
  text-decoration: none;
}

.info .ph,
.redes .ph {
  color: #fffafa;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: hsl(0, 0%, 40%, 0.5);
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.nav-item {
  margin: 0 1.5rem;
}
.nav-link {
  text-decoration: none;
  color: #fffafa;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 48px;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu-icon .btn-menu {
  width: 4.5rem;
}

.mobile-menu {
  display: none;
  width: 100%;
  background-color: #666666;
}


@media screen and (max-width: 834px) {
  .info {
    width: 688px;
  }
  .nav-bar {
    padding: 1.5rem 4rem;
  }
  .nav-item {
    display: none;
  }
  .login-button {
    display: none;
  }
  .mobile-menu-icon {
    display: block;
  }
  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }
  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }
  .mobile-menu button {
    width: 100%;
  }
  .open {
    display: block;
  }

  .nav-link {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
}

@media screen and (min-width: 1000px) {
  .info {
    width: 1216px;
    flex-direction: row;
    justify-content: space-between;
  }
  .infos {
    flex-direction: row;
    gap: 2rem;
  }

  .nav-bar img{
    padding-left: 10rem;
  }

  .nav-list{
    padding-right: 10rem;
  }

  .nav-link {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
}
