@media only screen and (max-width: 835px) {
  .content {
    width: 688px;
  }

  /*** hero ***/
  .content-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  /*** info ***/
  #info .content {
    position: static;
  }
  .content-info-cards {
    grid-template-columns: 1fr;
    gap: 0.8rem;
  }

  /*** about ***/
  #about {
    isolation: none;
    padding: 0;
    margin-bottom: 3.2rem;
  }
  .content-about .text-about {
    text-align: left;
    width: 68rem;
  }
  .carousel-service {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  /*** history ***/
  .content-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-history h1,
  .about-history h2,
  .about-history p,
  .about-history .icon {
    margin-left: 0;
  }
  .about-history h1 {
    margin-top: 3.2rem;
  }
  .content-history .perfil {
    width: 100%;
    margin-top: 3.2rem;
  }

  /*** jobs ***/
  #jobs {
    height: 65vh;
  }
  .content-jobs .title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 6.4rem;
    padding-bottom: 3.2rem;
  }
  .content-jobs .title .btn {
    width: 25rem;
    height: 4.8rem;
    font-size: 1.4rem;
    line-height: 2.1rem;
    letter-spacing: -0.01em;
    color: #333333;
  }
  .content-jobs p {
    width: 68rem;
  }

  /*** contact ***/
  .content-contact {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .contact-text {
    align-items: center;
    justify-content: center;
  }
  .contact-text h1 {
    text-align: center;
    margin-top: 3.2rem;
  }
}

@media only screen and (max-width: 640px) {
  .content {
    width: 380px;
  }
  h1 {
    font-size: 3.2rem;
    line-height: 3.8rem;
  }
  button {
    width: 25rem;
    height: 4.8rem;
    font-size: 1.4rem;
    line-height: 2.1rem;
    letter-spacing: -0.01em;
    color: #333333;
  }
  /*** hero ***/
  .content-hero p {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  /*** about ***/
  .content-about .text-about {
    text-align: left;
    width: 38rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .carousel-service {
    grid-template-columns: 1fr;
  }

  /*** history ***/
  .about-history {
    display: flex;
    flex-direction: column;
  }
  .about-history h2,
  .about-history p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    width: 380px;
  }
  .about-history .icon {
    width: 45px;
  }
  .about-history h1,
  .about-history h2,
  .about-history p,
  .about-history .icon {
    margin-left: 24px;
  }

  /*** jobs ***/
  #jobs {
    height: 75vh;
  }
  .content-jobs .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    padding-top: 6.4rem;
    padding-bottom: 3.2rem;
  }
  .content-jobs p {
    width: 38rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .content-jobs .slide-jobs {
    min-width: 38rem;
    height: 340px;
  }

  /*** contact ***/
  .content-contact img {
    width: 42.8rem;
    height: 24.8rem;
  }
  .contact-text h1 {
    width: 38rem;
  }

  /*** footer ***/
  #footer {
    display: flex;
    justify-content: center;
    background: #666666;
  }
  .menu-footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 3.2rem;
    margin-top: 3.3rem;
    margin-bottom: 3.3rem;
  }
  .menu-footer .footer-ul{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: center;
    justify-content: center;
  }
  .footer-links {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin-top: 3.2rem;
  margin-bottom: 5.9rem ;
}
.footer-links p {
  text-align: center;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-top: 6.4rem;
}
}
